PDF_FOLDER = C:\Users\kavin\Documents\Receipts
API_KEY = NOT_THE_REAL_API_KEY
SHARED_SECRET = NOT_THE_REAL_SHARED_SECRET
SHOP_ID = NOT_THE_REAL_SHOP_ID
DEBUG = True
PRINTER_DEBUG = True
CP_AUTH_DEBUG = NOT_THE_REAL_CANADA_POST_BASIC_AUTH
CP_AUTH = NOT_THE_REAL_CANADA_POST_BASIC_AUTH
CP_SHOP = NOT_THE_REAL_CANADA_POST_SHOP
WEBFLOW_SITE_ID = NOT_THE_REAL_WEBFLOW_SITE_ID
WEBFLOW_TOKEN = NOT_THE_REAL_WEBFLOW_TOKEN
SLEEP_INTERVAL = 300
CP_INTERVAL = 0.5