{% extends "main.html" %}
{% block content %}
          <script src="/static/jquery/jquery-3.5.1.min.js"></script>
          <script src="/static/jquery-ui/jquery-ui.min.js"></script>
          <center>
              <br />
            {% if order_info is not defined %}
              <h6>Tracking Pin not found</h6>
            {% else %}
              {% if returning_customer is defined %}
                <h5>Returning Customer</h5>
              {% endif %}
              <h5>Box Type: {{ order_info.box_type }}</h5>
              <h5>Box Size: {{ order_info.length_in }} in by {{ order_info.width_in }} in by {{ order_info.height_in }} in</h5>
              <table class="data-table">
                <thead>
                  <tr>
                    <td>
                      <h5>SKU</h5>
                    </td>
                    <td>
                      <h5>Description</h5>
                    </td>
                    <td>
                      <h5>Quantity</h5>
                    </td>
                    <td>
                      <h5>Image</h5>
                    </td>
                  </tr>
                </thead>
                {% for item in order_info.skus %}
                <tr>
                  <td>
                    {{ item.sku }}
                  </td>
                  <td>
                    {% if item.category == 'Planter' %}
                      {{ item.product_type }} {{ item.color }} {{ item.name }} {{ item.bottom }}
                    {% else %}
                      {{ item.product_type }} {{ item.color }} {{ item.name }} {{ item.size }} inch
                    {% endif %}
                  </td>
                  <td>
                    {{ item.quantity }}
                  </td>
                  <td>
                    {% if item.category == 'Planter' %}
                    <img src="/static/img/sku images/{{ item.sku }}.jpeg" style="height: 150px" class="img-responsive">
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </table>
              <br />
            {% endif %}
          </center>
  <script src="/static/js/scanner.js"></script>
{% endblock %}