{% extends "main.html" %}
{% block content %}
<script src="/static/jquery/jquery-3.5.1.min.js"></script>
<script src="/static/jquery-ui/jquery-ui.min.js"></script>
<div style="overflow-x: scroll; height: 100%">
  <br />
  <h4 class="noselect page-title">Manage Orders
    <button id="update-btn" class="btn btn-sm btn-primary s-rounded" onClick="updateReceipts()">Fetch New Orders</button>
  </h4>
  <div class="divider" ></div>
  <div class="form-group">
    <label class="form-label" for="manifest-select">Manifest</label>
    <select id="manifest-select" class="form-select" style="width: auto">
      <option value="/orders">All</option>
      {% for manifest in manifests %}
      <option value="/orders/{{ manifest.group_id }}">{{ manifest.group_id }}</option>
      {% endfor %}
    </select>
    {% if selected_manifest %}
      {% if total_num_complete != total_num_labels %}
        <button id="get-shipments-btn" class="btn btn-sm btn-primary s-rounded" onClick="getShipments('{{ selected_manifest }}')">Get Shipments</button>
        <sup>{{ total_num_complete }}</sup>&frasl;<sub>{{ total_num_labels }}</sub>
      {% else %}
        {% if manifest_file %}
        <a target="_blank" href="/{{ manifest_file }}">Get Manifest</a>
        {% else %}
        <button id="get-manifest-btn" class="btn btn-sm btn-primary s-rounded" onClick="getManifest('{{ selected_manifest }}')">Get Manifest</button>
        {% endif %}
      {% endif %}
    {% endif %}
  </div>
  <table class="data-table noselect">
    <thead>
      <tr>
        <td>
          <h5>Receipt ID</h5>
        </td>
        <td>
          <h5>Order Date</h5>
        </td>
        <td>
          <h5>Name</h5>
        </td>
        <td>
          <h5>Country</h5>
        </td>
        <td>
          <h5>Group ID</h5>
        </td>
        <td>
          <h5>Status</h5>
        </td>
        <td>
          <h5>Shipping Label</h5>
        </td>
        <td>
          <h5>Tracking Pin</h5>
        </td>
        <td>
          <h5>Send Tracking Information</h5>
        </td>
      </tr>
    </thead>
    {% for receipt in receipts %}
    <tr>
      <td>
        {{ receipt.receipt_id }}
      </td>
      <td>
        {{ receipt.order_date }}
      </td>
      <td>
        {{ receipt.name }}
      </td>
      <td>
        {{ receipt.country }}
      </td>
      <td>
        {{ receipt.group_id }}
      </td>
      <td>
        <span class="label label-{{ receipt.css_status }} receipt-status">{{ receipt.html_status }}</span>
      </td>
      <td>
        {% if receipt.shipping_label %}
          <a target="_blank" href="/{{ receipt.shipping_label }}">Get PDF</a>
        {% else %}
          <sup>{{ receipt.num_completed_labels }}</sup>&frasl;<sub>{{ receipt.total_num_labels }}</sub>
        {% endif %}
      </td>
      <td>
        {{ receipt.tracking_pin }}
      </td>
      <td>
        {% if receipt.tracking_pin %}
          {% if receipt.html_status == 'completed' %}
            <i>Tracking Information Sent</i>
          {% else %}
            <button id="complete-btn-{{ receipt.receipt_id }}" class="btn btn-sm btn-primary s-rounded" onClick="completeOrder('{{ receipt.receipt_id }}')">Send Tracking Information</button>
          {% endif %}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
<input type="hidden" id="manifests" value="{{ manifests }}" />
<script src="/static/js/orders.js"></script>
{% endblock %}