{% extends "main.html" %}
{% block content %}
<br />
<h4 class="noselect page-title">Printers
<i class="icon icon-plus c-hand" onClick="openModalAdd();" style="font-size: 0.7em;vertical-align: baseline;margin-left:0.5em"></i>
<button id="update-system-btn" class="btn btn-sm btn-primary s-rounded" style="margin-left:0.5em;" onClick="updateSystemFiles()">Update System Files</button>
        
</h4>

<script src="static/jquery/jquery-3.5.1.slim.min.js"></script>

<div class="divider" ></div>
{% for printer in printers %}
  <div class="accordion">
    <input type="checkbox" id="accordion-{{ loop.index }}" name="accordion-checkbox" hidden>
    <label class="accordion-header noselect c-hand" for="accordion-{{ loop.index }}">
      <!--<i class="icon icon-arrow-right"></i>-->
      <figure class="avatar avatar-lg badge" data-badge="{{ printer.num }}" data-initial="{{ loop.index }}" style="background-color: #f6f7f8; color: #e8c63e;">
        <!--<img src="static/img/tectle-center.png">-->
        <i class="avatar-presence {{ printer.css_status }}"></i>
      </figure>
      <i class="noselect c-hand" style="font-family: Roboto">{{ printer.printer_ip }}</i>
    </label>
    <div class="accordion-body">
      <!-- Accordions content -->
      <div class="hero-sm bg-gray">
        <div class="hero-body printer-info">
          <br /> 
          <table>
            <tr>
              <td>Printer URL:</td>
              <td><a href="http://{{ printer.printer_ip }}">{{ printer.printer_ip }}</a></td>
            </tr>
            <tr>
              <td>Printer Name:</td>
              <td>{{ printer.name }}</td>
            </tr>
            <tr>
              <td>Printer Status:</td>
              <td><b style="text-transform: uppercase;vertical-align: middle;">{{ printer.str_status }}</b></td>
            </tr>
            <tr>
              <td>Printer Color:</td>
              <td>
                <select id="{{ printer.id }}-edit-input-color" onchange="updatePrinterColor({{ printer.id }})">
                {% for color in colors %}
                  {% if printer.color == color %}
                  <option data-val="{{ color }}" selected>{{ color }}</option>
                  {% else %}
                  <option data-val="{{ color }}">{{ color }}</option>
                  {% endif %}
                {% endfor %}
                </select>
              </td>
            </tr>
            <tr>
              <td>Waterplate Priority:</td>
              <td>
                <select id="{{ printer.id }}-edit-input-waterplate" onchange="updatePrinterWaterplate({{ printer.id }})">
                  {% if printer.waterplate_only == 0 %}
                  <option data-val="0" selected>Planter</option>
                  <option data-val="1">Waterplate</option>
                  {% else %}
                  <option data-val="0">Planter</option>
                  <option data-val="1" selected>Waterplate</option>
                  {% endif %}
                </select>
              </td>
            </tr>
            <tr>
              <td>Current Item:</td>
              <td>{{ printer.current_sku }}</td>
            </tr>
            <tr>
              <td>Current Receipt:</td>
              <td>{{ printer.current_receipt }}</td>
            </tr>
            <tr>
              <td style="vertical-align: top">Printer Queue:</td>
              <td>
                {% for queue_item in printer.queue %}
                  {{ queue_item.sku }} <br />
                {% endfor %}
              </td>
            </tr>
            <tr>
              <td>RTSP URL:</td>
              <td><input class="form-input form-val" id="{{ printer.id }}-edit-input-rtsp" type="text" onchange="sendUpdateRTSPRequest(this, {{ printer.id }})" value="{{ printer.rtsp_url }}"/></td>
            </tr>
            <tr>
              <td>Video Feed</td>
              <td><img src="/videofeed/{{ printer.id }}" width="200px"></td>
            </tr>
          </table>
          <i class="icon icon-delete c-hand" onClick="openModalDelete({{ printer.id }});"></i>
          <br />
        </div>
      </div>
    </div>
  </div>
{% endfor %}
  
  <div class="modal modal-sm" id="modal-delete">
    <a href="#close" class="modal-overlay" onClick="closeModalDelete();" aria-label="Close"></a>
    <div class="modal-container">
      <div class="modal-header">
        <a href="#close" class="btn btn-clear float-right" onClick="closeModalDelete();" aria-label="Close"></a>
        <div class="modal-title h5">Remove this printer?</div>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <input class="form-input" id="input-printer-id" type="hidden" placeholder="192.168.X.XXX">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-error" onClick="sendRemovePrinterRequest();">Remove</button><a class="btn btn-link" href="#close" onClick="closeModalDelete();" aria-label="Close">Close</a>
      </div>
    </div>
  </div>  
  <div class="modal modal-sm" id="modal-add">
    <a href="#close" class="modal-overlay" onClick="closeModalAdd();" aria-label="Close"></a>
    <div class="modal-container">
      <div class="modal-header">
        <a href="#close" class="btn btn-clear float-right" onClick="closeModalAdd();" aria-label="Close"></a>
        <div class="modal-title h5">Add Printer</div>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label class="form-label" for="input-ip">Printer IP</label>
            <input class="form-input" id="input-ip" type="text" placeholder="192.168.X.XXX">
            <label class="form-label" for="input-name">Printer Name</label>
            <input class="form-input" id="input-name" type="text" placeholder="Joey">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" onClick="sendAddPrinterRequest();">Add</button><a class="btn btn-link" href="#close" onClick="closeModalAdd();" aria-label="Close">Close</a>
      </div>
    </div>
  </div>
  <script src="/static/js/printers.js"></script>
{% endblock %}